body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}

.qButton{
  -webkit-transition: all 0.3s ease;   transition: all 0.3s ease;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  color: #fff;
  font-family: sans-serif;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #000;
  margin-bottom: 20px
}

@media (min-width: 650px) {
  .qButton:hover {
    background-color: #56d42d;
    color: #000  
   }
}
 
@media (max-width: 650px) {
  .qButton{
    display: block;
  }
}